.App {
  background-image: var(--red-gradient);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculate-button {
  color: white;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid white;
  padding: 16px 32px;
  font-size: 16px;
  transition: 0.5s
}
.calculate-button:hover{
 background-color: white;
 color: black;
}
